<div class="content">
    <div class="header">
        <h1 class="page-title">添加管理员</h1>
    </div>
            <ul class="breadcrumb">
        <li><a href="index.html">Home</a> <span class="divider">/</span></li>
        <li class="active">添加管理员</li>
    </ul>

    <div class="container-fluid">
        <div class="row-fluid">
                                
            <div class="btn-toolbar">
                <button class="btn btn-primary" onClick="location='list.html'"><i class="icon-list"></i> 设置列表</button>
              <div class="btn-group">
              </div>
            </div>
            <div class="well">
                <div id="myTabContent" class="tab-content">
                  <div class="tab-pane active in" id="home">
                    <form action="{:U('admin/add')}" name="adminForm" method="post" enctype="multipart/form-data">
                        <label>管理员名称</label>
                        <input type="text" name="admin_name" value="" class="input-xxlarge">
                        <label>管理员密码</label>
                        <input type="text" name="admin_pwd" value="" class="input-xxlarge">
                     
                        <label></label>
                        <input class="btn btn-primary" type="submit" value="提交" />
                    </form>
                  </div>
              </div>

            </div>

            <div class="modal small hide fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">Delete Confirmation</h3>
              </div>
              <div class="modal-body">
                
                <p class="error-text"><i class="icon-warning-sign modal-icon"></i>Are you sure you want to delete the user?</p>
              </div>
              <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
                <button class="btn btn-danger" data-dismiss="modal">Delete</button>
              </div>
            </div>


                                

        </div>
    </div>
</div>