<div class="bottom">
  <div class="inner">
      <ul class="ul1">
          <li class="li1">产品与服务
          ` <ul class="ul1">
                <li><a href="#" >首页</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">产品中心</a></li>
                <li><a href="#">技术与支持</a></li>
                <li><a href="#">联系我们</a></li>
                <div class="clear"></div>
            </ul>
          </li>
          <li class="li1">案例展示
            <ul class="ul1">
                <li><a href="#" >首页</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">产品中心</a></li>
                <li><a href="#">技术与支持</a></li>
                <li><a href="#">联系我们</a></li>
                <div class="clear"></div>
            </ul>
          </li>
          <li class="li1">新闻中心
            <ul class="ul1">
                <li><a href="#" >首页</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">产品中心</a></li>
                <li><a href="#">技术与支持</a></li>
                <li><a href="#">联系我们</a></li>
                <div class="clear"></div>
            </ul>
          </li>
          <li class="li1">关于我们
            <ul class="ul1">
                <li><a href="#" >首页</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">产品中心</a></li>
                <li><a href="#">技术与支持</a></li>
                <li><a href="#">联系我们</a></li>
                <div class="clear"></div>
            </ul>
          </li>
          <li class="li1">人才招聘
            <ul class="ul1">
                <li><a href="#" >首页</a></li>
                <li><a href="#">关于我们</a></li>
                <li><a href="#">产品中心</a></li>
                <li><a href="#">技术与支持</a></li>
                <li><a href="#">联系我们</a></li>
                <div class="clear"></div>
            </ul>
          </li>
          <div class="clear"></div>
      </ul>
  </div>
    <div class="ba"><div class="inner"><span class="left">版权所有2015深圳市绿之宇科技有限公司 all rights reserved. 粤icp备 0000000号</span><span class="right"><a href="#">联系我们</a>  |   <a href="#">网站地图</a></span></div></div>
</div>