<div style="height:95px; background-color:white;">
  <dl class="header">
    <dt></dt>
    <dd>
          <div class="lxwm"><ul><li><a href="#">&nbsp;</a></li></ul></div>
      <div class="tel"><span>4000-000-0000</span></div>
      <div class="search">
        <input type="text">
        <button>&nbsp;</button>
      </div>
    </dd>   
  </dl>
</div>

<!--nav-->
<div class="menu">
  <ul class="nav">
    <a href="{:U('Index/index')}"><li id="dangqian">首页</li></a>
    <a href="{:U('Article/index')}"><li>关于我们</li></a>
    <a href="{:U('Product/index')}"><li>产品展示</li></a>
    <a href="#"><li>案例展示</li></a>
    <a href="#"><li>新闻中心</li></a>
        <a href="#"><li>联系我们</li></a>
        <a href="#"><li>加盟优势</li></a>
        <li class="last">&nbsp;
          <ul class="lang">
              <li><a href="#">English</a></li>
                <li><a href="#">简体中文</a></li>
            </ul>
        </li>
  </ul>
</div>

<!--banner-->
